<br>
<h3>Editing Employee</h3>
<div class="box">

<b><%= render 'form', employee: @employee %></b>

<%= link_to '<button id="new"> Show </button>' .html_safe, @employee %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>' .html_safe, employees_path %>
</div>