<br>
<h3>Welcome</h3>
<!-- cinemagraph -->
<p class="admin">
  It's <%= Time.now %>.
  We have <%= pluralize(@total_orders, "order") %>.
</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://media.flixel.com/cinemagraph/p3m3f36s6v63p4b9mql8?hd=false" allowfullscreen>
  </iframe>
</div>