<br>
<h3>Editing User</h3>
<div class="box">

<b><%= render 'form', user: @user %></b>

<%= link_to '<button id="new"> Show </button>' .html_safe, @user %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>' .html_safe, users_path %>
</div>