<p id="notice"><%= notice %></p>
<h3>User</h3>

<div class="box">

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<br>
<%= link_to '<button id="new"> Edit </button>' .html_safe, edit_user_path(@user) %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>' .html_safe, users_path %>
</div>