<br>
<h3>Editing Order</h3>
<div class="box">

  <b><%= render 'form', order: @order %></b>

<%= link_to '<button id="new"> Show </button>' .html_safe, @order %> &nbsp;&nbsp;&nbsp;
<%= link_to '<button id="new"> Back </button>' .html_safe, orders_path %>
</div>