// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  color: white;
}

/*----Tables----*/

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

/*table row*/
.table tr:nth-child(even){background-color: whitesmoke;}
.table tr:nth-child(odd){background-color: #B5A397;}

/*hover*/
.table tr:hover {background-color: #C0C0C0;}

/*table header*/
.table th {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: left;
  background-color: #30231D;
  color: white;
}

a:visited {
  color: white;
}

/*----Buttons----*/

#new {
  color: white;
  background: black;
  border: 1px lightslategray solid;
  border-radius: 6px;  //gives button its rounded corners
  box-shadow: inset 0 1px 0 gray;
  font-size: 15px;
  padding: 5px;
}

#new:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 black;
  color: black;
  background: whitesmoke;
}

#new:active {
  box-shadow: inset 0 2px 5px black;
}

#back {
  color: white;
  background: black;
  border: 1px lightslategray solid;
  border-radius: 6px;  //gives button its rounded corners
  box-shadow: inset 0 1px 0 gray;
  font-size: 15px;
  padding: 5px 5px;
}

#back:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 black;
  color: black;
  background: whitesmoke;
}

#back:active {
  box-shadow: inset 0 2px 5px black;
}

.submit {
  color: white;
  background: black;
  border: 1px lightslategray solid;
  border-radius: 6px;  //gives button its rounded corners
  box-shadow: inset 0 1px 0 gray;
  font-size: 15px;
  padding: 5px;
}

.submit:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 black;
  color: black;
  background: whitesmoke;
}

.submit:active {
  box-shadow: inset 0 2px 5px black;
}


.show {
  color: white;
  background: green;
  border: 1px lightslategray solid;
  border-radius: 6px;  //gives button its rounded corners
  box-shadow: inset 0 1px 0 gray;
  font-size: 15px;
  padding: 5px;
}

.show:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 black;
  color: black;
  background: whitesmoke;
}

.show:active {
  box-shadow: inset 0 2px 5px black;
}