// Place all the styles related to the order_report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---Search---*/
.search {
  color: white;
  background: black;
  border: 1px lightslategray solid;
  border-radius: 6px;  //gives button its rounded corners
  box-shadow: inset 0 1px 0 gray;
  font-size: 15px;
  padding: 5px;
}

.search:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 black;
  color: black;
  background: whitesmoke;
}

.search:active {
  box-shadow: inset 0 2px 5px black;
}

.date {
  border: 1px lightslategray solid;
  font-size: 15px;
  padding: 1px;
}

.report {
  color: white;
}